
VITE_SUPABASE_URL=https://qlbxagsbbyowrottttiq.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_465m_41TWPQIxurp1nwlWQ_Ju3uAMA6
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsYnhhZ3NiYnlvd3JvdHR0dGlxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Nzg1NTUxMiwiZXhwIjoyMDgzNDMxNTEyfQ.AwORY5MioM3Oxhp-TkUS7SiKXVeSwE7lq3Z9J7tWGag
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsYnhhZ3NiYnlvd3JvdHR0dGlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4NTU1MTIsImV4cCI6MjA4MzQzMTUxMn0._mGhVKk-Ch77z5aoGGld7DILO7mVwKaIO4JmMude90s